<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BullFrog.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D8D127E2D13426C00D56EF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D8D12922D13426F00D56EF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D8D129C2D13426F00D56EF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
